*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
  body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  @font-face {
    font-family: myFirstFont;
    src: url(/src/fonts/Montserrat-Bold.ttf);
  }

  @font-face {
    font-family: mysecoundFont;
    src: url(/src/fonts/Muli-Regular.ttf);
  }

  @font-face {
    font-family: mythirdFont;
    src: url(/src/fonts/GlacialIndifference-Bold.ttf);
  }

  @font-face{
    font-family: myfourthFont;
    src: url(/src/fonts/Roboto-Light.ttf);
  }
  
  .pt-1 :first-child,
  .pt-2 :first-child,
  .pt-3 :first-child{
    font-family: myFirstFont;
  }

  .social-pg-img{
    max-width: 22px;
  }

  .progress {
    background: #F0F0F0;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
    height: 6px;
    width: 350px;
  }
  
  .progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    background: #E93656;
    height: 6px;
    width: 0;
  }
  
  @keyframes load {
    0% { width: 0; }
    100% { width: 100%; }
  }

.sec-1{
    margin-top: 8250px;
    align-items: center;
    min-height: 860px;
    max-width: 1920px;
}

.info-1{
    padding-top: 50px;
}

.progress-bar-1{
    position: absolute;
    left: 1400px;
    margin-top: 280px;
}

.progress-bar-1 :first-child{
    display: flex;
    gap: 20px;
}

.social{
    display: flex;
    gap: 20px;
    z-index: 1;
}

.sec-1 h1{
    font-size: 3em;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 1000px;
    z-index: 1;
}

.hp{
    color: #E93656;
}

#slider {
	position: relative;
	width: 100%;
	overflow: hidden;
    z-index: -1;
    width: 1920px;
    height: 860px;
    top: -322px;
}

#slider #back,
#slider #forword {
	width: 6%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: 0.3s;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	color: white;
	font-weight: 700;
    font-size: 2rem;
}

#slider #forword {
	left: auto;
	right: 0;
}

#slider:hover #back,
#slider:hover #forword {
	opacity: 0.7;
}

ul#move {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	background: gray;
	margin-right: 100%;
}


ul#move li {
	transition: 0.6s;
	min-width: 100%;
	color: white;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul#move li img {
	width: 100%;
}

ul#move li:nth-child(1) {
	background: #657765;
}

ul#move li:nth-child(2) {
	background: #456174;
}

ul#move li:nth-child(3) {
	background: #984;
}

ul#move li:nth-child(4) {
	background: #445566;
}

ul#move li:nth-child(5) {
	background: #744674;
}

.progress-bar-1,
.info-1{
    position: absolute;
}

.sec-2{
    display: flex;
    background-color: #fff;
    max-width: 1920px;
    width: 100%;
    min-height: 803px;
    align-items: center;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    max-width: 800px;
    padding-left: 300px;
    padding-top: 100px;
    padding-bottom: 20px;
}

/* scroll bar */

.conteiner{
  position: relative;
}

.conteiner .progres{
  position: relative;
  width: 100%;
  width: 300px;
  height: 9px;
  background-color: #848484;
  margin-top: 50px;
}

.conteiner .progres .bar{
  width: 0%;
  background-color: #E93656;
  height: 100%;
  transition: all 1s;
}

.conteiner .progres span{
  position: absolute;
  bottom: 12px;
}


.progres :nth-child(3){
  right: 240px; 
  font-family: mythirdFont;
}

.conteiner :nth-child(1) :nth-child(3){
  position: absolute;
  right: 200px;
  font-family: mythirdFont;
}

.conteiner :nth-child(2) :nth-child(3){
  position: absolute;
  right: 225px;
  font-family: mythirdFont;
}

.flex{
  display: flex;
  flex-direction: column;
}

  .img-nc{
    padding-right: 71px;
    padding-top: 100px;
  }

  .about-me{
    padding-right: 66px;
  }

  .hm{
    max-width: fit-content;
    padding: 13px 53px 13px 53px;
    color: #fff;
    background-color: #E93656;
    border: none;
  }

  .social-page-img{
    max-width: 20px;
  }

  .social-page-img1{
    max-width: 20px;
  }

  .social-pages{
    margin-top: 10px;
    display: flex;
    margin-bottom: 20px;
  }

  .social-pg-div-1{
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
    margin-top: 70px;
  }

  .social-pg-div-2{
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
    margin-top: 70px;
  }

  .social-pg-div-3{
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
    margin-top: 70px;
  }
  
  .social-pg-div-4{
    background-color: #f3f3f3;
    padding: 10px;
    margin-right: 5px;
    margin-top: 70px;
  }

  .img-nc{
    max-width: 403px;
    max-height: 603px;
  }

  .about-me h4{
    font-family: mysecoundFont;
    color: #DAAE19;
  }

  .about-me h1{
    font-family: mythirdFont;
  }

  .about-me p{
    font-family: mysecoundFont;
  }

  .about-me button{
    font-family: mythirdFont;
  }

  .progress-bars h3{
    font-family: mythirdFont;
  }

  .social-pg-div-1:hover{
    filter: invert(100%) sepia(13%) brightness(100%) contrast(100%);
    max-width: cover;
  }

  .social-pg-div-2:hover{
    filter: invert(100%) sepia(13%) brightness(100%) contrast(100%);
    max-width: cover;
  }

  .social-pg-div-3:hover{
    filter: invert(100%) sepia(13%) brightness(100%) contrast(100%);
    max-width: cover;
  }

  .social-pg-div-4:hover{
    filter: invert(100%) sepia(1%) brightness(100%) contrast(100%);
    max-width: cover;
  }

  .sec-3{
    background-color: #131A36;
    display: flex;
    gap: 41px;
    width: 1920px;
    justify-content: center;
    margin-top: 100px;
  }

  .sec-3 h1,
  .sec-3 p{
    color: #fff;
    font-family: mythirdFont;
  }

  .phone{
    display: flex;
    gap: 30px;
  }


  .phone-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .phone-img{
    padding: 31.5px 33.5px;
    max-height: 90px;
  }

  .phone-img-div{
    border:#fff dashed;
    border-radius: 50%;
  }

  .phone-img-div:hover{
    background-color: #E93656;
    border: none;
    border-radius: 50%;
    transition: all 1s;
  }

  .address{
    display: flex;
    gap: 30px;
  }


  .address-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .address-img{
    padding: 32px 35px 5px 35px;
    max-height: 90px;
    max-width: 120px;
  }

  .address-img-div{
    border:#fff dashed;
    border-radius: 50%;
  }

  .address-img-div:hover{
    background-color: #E93656;
    border: none;
    border-radius: 50%;
    transition: all 1s;
  }

  .address-text p{
    max-width: 200px;
  }

  .email{
    display: flex;
    gap: 30px;
  }


  .email-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .email-img{
    padding: 34px 32px;
    max-height: 90px;
  }

  .email-img-div{
    border:#fff dashed;
    border-radius: 50%;
  }

  .email-img-div:hover{
    background-color: #E93656;
    border: none;
    border-radius: 50%;
    transition: all 1s;
  }



  .email-text p{
    max-width: 200px;
  }

  .email,
  .address,
  .phone{
    padding: 60px 0;
  }

  .sec-4{
    display: grid;
    grid-template-areas: 
    "grid-1 grid-2 grid-3 grid-4"
    "grid-5 grid-6 grid-7 grid-8";
    grid-template-columns: 285px 285px 285px 285px;
    grid-template-rows: 360px 360px;
    gap: 10px;
    margin-top: 203px;
  }
  
  .grid-1{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-2{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-3{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-4{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-5{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-6{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-7{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-8{
    background-color: #FAFAFA;
    padding: 140px 110px;
    position: relative;
    max-width: 285px;
    max-height: 360px;
  }

  .grid-1 p,
  .grid-2 p,
  .grid-3 p,
  .grid-4 p,
  .grid-5 p,
  .grid-6 p,
  .grid-7 p,
  .grid-8 p{
    min-width: 150px;
    transform: translateX(-15px);
  }

  .grid-img-1{
    display: block;
    width: 100%;
    height: 100%;
  }

  .img-overlay-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21,	38,	62);
    color: #fff;
    font-family: mysecoundFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
  }

  .img-title{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 9px;
  }

  .img-overlay-1:hover{
    opacity: 1;
  }

  .img-overlay-1 p{
    transform:  translateX(20px);
    transition: transform 0.5s;
  }


/* hover 2 */

  .grid-img-2{
    display: block;
    width: 100%;
    height: 100%;
  }

  .img-overlay-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(21,	38,	62);
    color: #fff;
    font-family: mysecoundFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 1s;
  }

  .img-title-1{
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 9px;
  }

  .img-overlay-2:hover{
    opacity: 1;
  }

  .img-overlay-2 p{
    transform:  translateX(20px);
    transition: transform 0.5s;
  }

/* hover 4 */

.grid-img-3{
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay-3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,	38,	62);
  color: #fff;
  font-family: mysecoundFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.img-title-2{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 9px;
}

.img-overlay-3:hover{
  opacity: 1;
}

.img-overlay-3 p{
  transform:  translateX(20px);
  transition: transform 0.5s;
}
  
/* hover 5 */

.grid-img-5{
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay-5{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,	38,	62);
  color: #fff;
  font-family: mysecoundFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.img-title-4{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 9px;
}

.img-overlay-5:hover{
  opacity: 1;
}

.img-overlay-5 p{
  transform:  translateX(20px);
  transition: transform 0.5s;
}

/* hover 6 */

.grid-img-6{
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay-6{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,	38,	62);
  color: #fff;
  font-family: mysecoundFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.img-title-5{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 9px;
}

.img-overlay-6:hover{
  opacity: 1;
}

.img-overlay-6 p{
  transform:  translateX(20px);
  transition: transform 0.5s;
}

/* hover 7 */

.grid-img-7{
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay-7{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,	38,	62);
  color: #fff;
  font-family: mysecoundFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.img-title-6{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 9px;
}

.img-overlay-7:hover{
  opacity: 1;
}

.img-overlay-7 p{
  transform:  translateX(20px);
  transition: transform 0.5s;
}

/* hover 8 */

.grid-img-8{
  display: block;
  width: 100%;
  height: 100%;
}

.img-overlay-8{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21,	38,	62);
  color: #fff;
  font-family: mysecoundFont;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
}

.img-title-7{
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 9px;
}

.img-overlay-8:hover{
  opacity: 1;
}

.img-overlay-8 p{
  transform:  translateX(20px);
  transition: transform 0.5s;
}

.sec-5{
  max-width: 1692px;
  max-height: 570px;
  padding-top: 144px;
  margin-bottom: 650px;
}

.nika-chkhaidze{
  background-color: #B97679;
  border-radius: 160px;
}

.back-ground-div p{
  max-width: 497px;
  color: #fff;
  font-family: myfourthFont;
}

.back-ground-div h2{
  color: #fff;
  font-family: myfourthFont;
}

.slider, .slider .imgs {
  max-height: 570px;
}

.slider {
  max-height: 570px;
}

.slider .imgs {
  display: flex;
  overflow: hidden;
}

.slider .img {
  min-width: 100%;
  max-height: 570px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 100%;
  animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
  animation-fill-mode: forwards;
  background-size: cover !important;
  background-position: 50% !important;
  background-image: url(/src/images/clip.jpg);
}


.slider .img span {
  padding: 7px 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 14px;
  font-family: sans-serif;
}

.dots {
  position: absolute;
  left: 1500px;
  bottom: -2560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.dot {
  border: solid #fff;
  background: transparent;
  margin: 15px 0px;
  max-width: 13px;
  height: 13px;
  cursor: pointer;
  position: relative;
}

.active-dot {
  border:solid #E93656;
  cursor: default;
}

@keyframes leftNext {
  from { left: 100%; }
  to { left: 0; }
}

@keyframes leftCurr {
  from { left: 0; }
  to { left: -100%; }
}

@keyframes rightNext {
  from { left: -100%; }
  to { left: 0; }
}

@keyframes rightCurr {
  from { left: 0; }
  to { left: 100%; }
}

.advisor-img{
  border:dashed #fff;
  min-height: 170px;
  min-width: 170px;
  border-radius: 50%;
}

.img p{
  color: #fff;
  font-family: myfourthFont;
  max-width: 317px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
}

.img h4{
  color: #E93656;
  font-family: mythirdFont;
  padding-top: 19px;
}

.part-1,
.img span{
  display:flex;
  gap: 50px;
}

.part-2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.quote{
  max-height: 26px;
  max-width: 39px;
}

.img span{
  display: flex;
  align-items: center;
  margin: auto;
}

.sec-6{
  margin-top: 500px;
  padding-bottom: 170px;
}

.container-1{
  display: flex;
  gap: 30px;
  justify-content: center;
}

.container{
  overflow: hidden;
}

.filterDiv {
  float: left;
  text-align: center;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 20px 71px 5px 59px;
  background-color: #131A36;
  cursor: pointer;
  color: #fff;
}

#myBtnContainer{
   display: flex;
   flex-direction: column;
   max-width: fit-content;
   align-items: flex-start;
   background-color: #131A36;
   max-width: 240px;
   max-height: 401px;
}

#myBtnContainer :nth-child(1){
  padding-top: 72px;
}

#myBtnContainer :nth-child(7){
  padding-bottom: 59px;
}

.container{
  display: flex;
}

.btn:hover {
  color: #E93656;
}

.btn.active {
  color:#E93656;
}

.html{
  background-color: #555555;
}

.css{
  background-color: #000000;
}

.js{
  background-color: #555555;
}

.htmlcss{
  background-color: #848484;
}

.htmljs{
  background-color: #555555;
}

.boostrap{
  background-color: #848484;
}

.container{
  display: grid;
  grid-template-areas: 
  "html css js"
  "htmljs htmlcss boostrap";
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 350px 350px;
}

.heart{
  margin: auto;
  margin-top: 105px;
  border: solid #E93656;
  border-radius: 50%;
  padding: 19px 18px;
  min-height: 12px;
  min-width: 14px;
}

.hover h6{
  color: #DDDDDD;
  font-family: mysecoundFont;
}

.hover h3{
  color: #fff;
  padding-top: 7px;
}

.hover{
  opacity: 0;
  transition:ease-in-out 1s;
  background-size: cover;
}

.hover:hover{
  opacity: 1;
}

.sec-6:first-child{
  display: flex;
  flex-direction: column;
}


.sec-6 h1{
  display: flex;
  justify-content: center;
  font-size: 3em;
  padding-bottom: 55px;
  font-family: mythirdFont;
}

.sec-7{
  display: flex;
  flex-direction: column;
  max-width: 1768px;
}

.d1 img{
  width: 100px;
  padding-bottom: 64px;
  padding-top: 79px;
}

.d1{
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 590px;
  padding-left: 24px; 
  min-width: 650px;
  padding-right: 103px;
  padding-bottom: 139px;
}

.article-1{
  display: flex;
  font-family: mythirdFont;
  margin-left: 220px;
  max-width: 1870px;
}

.article-1 p,
.article-2 p,
.article-1 h5,
.article-2 h5{
  opacity: 0.5;
  max-width: 1029px;
}

.date{
  background-color:#131A36;
  min-width: 123px;
  height: 590px;
}

.date h1{
  rotate: 270deg;
  margin-top: 300px;
  color: #E93656;
}

.title{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title h1{
  font-size: 4em;
  font-family: mythirdFont;
  color: #2E2E2E;
}

.title h6{
  margin: auto;
  color: #2ED279;
}

.image-div{
  background-color: #E1E0DC;
  min-width:747px;
  height: 590px;
}

.title h1{
  padding-bottom: 70px;
  padding-top: 5px;
}

.abt-me{
  display: flex;
  justify-content: flex-end;
  padding-right: 150px;
  padding-top: 20px;
}

.abt-me :nth-child(2){
  top: -145px;
  padding-right: 30px;
  font-size: 8em;
  font-family: myfifthFont;
  color: #1C1C1C;
  position: relative;
}

.abt-me :nth-child(1){
  color: #373737;
  z-index: 1;
  position: absolute;
  top: 55px;
}

@font-face{
  font-family: myfifthFont;
  src: url(/src/fonts/Poppins-ExtraBold.ttf);
}

.article-2{
  display: flex;
  font-family: mythirdFont;
}

.date-2{
  min-width: 123px;
  max-height: 590px;
  background-color: #131A36;
  color: #fff;
}

.date-2 h1{
  rotate: 270deg;
  margin-top: 300px;
  color: #E93656;
}

.image-div-1{
  background-color: #E1E0DC;
  min-width: 775px;
  max-height: 590px;
}
.test-img{
  min-width: 987px;
  max-height: 590px;
}

.test-img-1{
  width: 775px;
  min-height: 590px;
}

.d2{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 590px;
    padding-right: 24px; 
    max-width: 800px;
    padding-left: 103px;
    padding-bottom: 139px;
}

.d2 img{
  max-width: 100px;
  padding-bottom: 64px;
  padding-top: 79px;
  object-fit: cover;
}

.article-2 p{
  max-width: 550px; 
}


.Roca{
  margin-left: 152px;
  padding-top: 40px;
}

.Roca :first-child{
  display: flex;
}

.Roca :first-child :nth-child(2){
    color: #0081FF;
}

.Roca :first-child{
  font-family: mythirdFont;
}

.Roca h4{
   color: #B3B3B3;
}

.sponsors{
  display: flex;
  gap: 65px;
}

.title-1{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 169px;
}

.title-1 h1{
  font-size: 4em;
  font-family: mythirdFont;
  color: #2E2E2E;
  margin: auto;
  padding-bottom: 81px;
}

.title-1 h6{
  margin: auto;
  color: #2ED279;
}

.overlay-text{
  opacity: 0;
  width: 230px;
  height: 190px;
  padding:33px 33px;
  position: relative;
  font-family: mythirdFont ;
  transition: ease-out  0.5s;
}

.overlay-text:hover{
  opacity: 1;
  background-color: #fff;
  border: solid 5px  #E93656;
  transition: ease-in-out  0.5s;
}

.sponsor img{
  position: absolute;
  top:7470px;
  max-width: 220px;
  max-height: 220px;
}

.sponsors :nth-child(2) img{
  position: absolute;
  top:7440px;
  max-width: 220px;
  max-height: 220px;
}

.sponsors :nth-child(3) img{
  position: absolute;
  top: 7500px;
  left: 800px;
  max-width: 100px;
  max-height: 90px;
}

.sponsors :nth-child(4) img{
  position: absolute;
  top: 7470px;
  left: 1060px;
  max-width: 170px;
  max-height: 170px;
}

.sponsors :nth-child(5) img{
  position: absolute;
  top: 7500px;
  left: 1380px;
  max-width: 100px;
  max-height: 100px;
}

.sponsor h1{
    padding-left: 30px;
}

.sponsors :nth-child(2) h1{
  padding-left: 25px;
  padding-top: 5px;
}

.sponsors :nth-child(3) h1{
  padding-left: 40px;
  padding-top: 5px;
}

.sponsors :nth-child(4) h1{
  padding-left: 50px;
  padding-top: 5px;
}

.sponsors :nth-child(5) h1{
  padding-left: 55px;
  padding-top: 5px;
}

@font-face{
  font-family: mysixthfont;
  src: url(/src/fonts/Jaapokki-Regular.ttf);
}

.contact-us{
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 152px;
}

.contact-us h1{
  font-size: 3em;
  font-family: mysixthfont;
  margin: auto;
  color: #fff;
}

.contact-us p{
  font-family: myfourthFont;
  font-size: 1.1em;
  margin: auto;
  color: #fff;
  padding-bottom: 46px;
}

.sec-9{
  margin-top: 185px;
  padding-top: 20px;
}

.form{
  background: linear-gradient(rgba(8, 8, 8, 0.7),
  rgba(29, 28, 28, 0.6)), url('/src/images/map.jpg');
  min-width: 1920px;
  width: 100%;
}

.form-1{
  display:grid;
  justify-content: center;
  margin: auto;
  grid-template-areas: 
  "yourname emailadress yourwebsite"
  "message message message"
  "message message message"
  "noting button nothing";
  grid-template-rows: 50px 110px 50px;
  grid-template-columns: 290px 290px 290px;
  gap: 10px;
  max-width: fit-content;
}

input{
  font-family: myseventhfont;
}

@font-face{
  font-family: myseventhfont;
  src: url(/src/fonts/Poppins-SemiBold.woff);
}

.form-1 :nth-child(4){
  grid-area: message;
}

.form-1 button{
  background:transparent;
  border: solid 2px #E93656;
  padding:17px 46px;
  color: #E93656;
  font-family: mythirdFont;
  margin-bottom: 120px;
  margin-top: 30px;
  grid-area: button;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282828;
  max-width: 1920px;
  width: 100%;
}

.f-text{
  display: flex;
  justify-content: center;
  padding-top: 111px;
}

.f-text:first-child :nth-child(1){
  color: #fff;
  font-family: myseventhfont;
  font-size: 5em;
}

.f-text:first-child :nth-child(2){
  color: #E93656;
  font-family: myseventhfont;
  font-size: 5em;
}

.p{
  font-size: 1em;
  display: flex;
  max-width: 613px;
  margin: auto;
  color: #F0F0F0;
}

@font-face{
  font-family: myseventhfont;
  src: url(/src/fonts/Poppins-ExtraBold.ttf);
}

.links img{
  max-width: 30px;
}

.links{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.copy-right{
  display: flex;
  color: #adabab;
  margin: auto;
  background-color: #171717;
  max-width: 1920px;
  width: 100%;
  justify-content: center;
  min-height: 82px;
  align-items: center;
  margin-top: 57px;
}

/* media querys */

@media screen and (width < 320px) {
     
    .sec-1{
      max-width: 320px;
      width: 100%;
    }

    .abt-me{
      position: relative;
      font-size: .5em;
      right: -400px;
    }

    .abt-me :nth-child(2){
      top: -80px;
      right: -15px;
    }

    .abt-me :nth-child(1){
      top: -28px;
    }

    .info{
      font-size: 1em;
      margin-left: 200px;
    }

    .Roca div{
      justify-content: center;
      position: relative;
      top: 30px;
      right: 150px;
    }

    .Roca h4{
      justify-content: center;
      position: relative;
      top: 30px;
      right: 120px;
    }

    .Roca h1{
      color: #000000;
    }

    .progress-bar-1{
        position: relative;
        margin-top: 100px;
        left: 120px;
        justify-content: center;
    }

}